.svn/*
WebRoot/WEB-INF/classes/**
out/**
Test/**
.idea/workspace.xml
.gradle/**
gradle/**
build/**
.classpath
.project
.DS_Store

*.class
*.zip
*.7z
*.rar
*.log
*.exe
*.o
*.gch
*.obj
*.sbr
*.lib
*.tlog
*.pdb
*.exp
*.node
*.sln

*.jar